<%
Rails.logger.info(">>> Redmine görevine ait bir test planı bulunamadı! <<<<")
changeset = @issue.changesets.find_by_id(@changeset_id)
%>

<div class="wiki changeset-comments">
  <label for="revision_tags-<%= changeset.id %>" style="font-weight: bold;">
    <%= l(:label_issue_code_artifacts_tags) %>: 
  </label>
  <select id="select_tag_revision-<%= changeset.id %>" data-changeset_id="<%= changeset.id %>">
    <option value=""><%= l(:option_issue_code_artifacts_choose) %></option>
    <% 
    begin
      tag_info = UlakTest::Git.commit_tags(changeset.repository.root_url, changeset.identifier) 
    rescue StandartError => e 
      javascript_tag do 
    %>
        alert('İstisna alındı: <%= e.message %>');
    <% end 
    end %>
    <%= options_for_select(tag_info.map { |tag| ["#{tag[:date]}", tag[:tag]] }) %>
  </select>
  <div class="test_result_placeholder"></div>
</div>


<script>
  $(function(){
    console.log(">>>> select2 için bıdı bıdı")
    function templateTagOption(item){
        if (!item.id) {
          return item.text;
        }
        var $date = $('<b>' + item.id + '</b> ');
        var $tag = $('<em style="float:right;display:block;">' + item.text + '</em>');
        var $div = $('<div/>').append($date).append($tag);
        return $div
    }

    $('[id^="select_tag_revision-"]').select2({
        width:"350px",
        templateResult: templateTagOption,
        templateSelection: templateTagOption
    })
    .on('select2:select', function (e) {
      console.log(">>>>> ",e.params.data);
      if(!e.params.data){
        return console.log(">>>>> Dolu bir seçenek seçilmedi!");
      }
      const $select = $(this)
      const $div_revision = $select.parents('[id^="div_revision-"]')
      const $test_case_list = $div_revision.find(".test_case_list")
      const select_id = this.id
      const changeset_id = $(this).attr("data-changeset_id")
      const selected_tag = e.params.data.id
      tab.fetchTestRuns(select_id, changeset_id, selected_tag)

      const caseRunNoStatusDescriptions = "<%= l(:text_test_run_status_didnt_run_with_artifact) %>"
      
    });

  });
</script>
