<div class="wiki changeset-comments gorevler">
  <% 
    kiwi_info = UlakTest::PluginSetting.get_kiwi_settings
    unless @issue_test_plans.empty? 
  %>
    <b><%= l(:field_issue_test_plans) %> :</b><br/>
    <ol class="test_plans_list">                
      <% @issue_test_plans.each do |plan| %>
      <%
        test_cases = UlakTest::Kiwi.fetch_test_cases_by_plan_id(plan["test_plan_id"])
      %>
        <li> 
          <b><%= plan["name"] %></b>
          <% if User.current.allowed_to?(:view_run_test_button, Issue.find(params[:issue_id]).project) %>
          <a href='<%= "#{kiwi_info[:jenkins_url]}#{kiwi_info[:jenkins_job_url]}" %>' 
            onclick='alert("Koşturulacak Test Plan ID değeri <%= plan["id"] %>")'
            target="_blank" title="Testi Koş" 
            style="float: right;">
            <i class="fa-solid fa-play"></i>
          </a>
          <% end %>
          <br>
          <ol class="test_case_list" data-plan-id='<%= plan["test_plan_id"] %>'>
            <% test_cases.each do |test| %>
              <li data-case-id='<%= test["id"] %>'>
                <span class="test-case c-pill c-pill--nostatus">
                  <% if test["is_automated"] %>
                    <span class="fa fa-cog" title="Otomatik koşulan test"></span> 
                  <% else  %>
                    <span class="fa fa-hand" title="Elle koşulan test"></span> 
                  <% end  %>
                    <a href='<%= "#{kiwi_info[:kiwi_url]}/case/#{test["id"]}" %>' target="_blank"><%= test["summary"] %></a>
                    <span class="test-case-result idle"     title="<%= l(:text_test_run_status_idle_count) %>"    ></span>
                    <span class="test-case-result running"  title="<%= l(:text_test_run_status_running_count) %>" ></span>
                    <span class="test-case-result paused"   title="<%= l(:text_test_run_status_paused_count) %>"  ></span>
                    <span class="test-case-result passed"   title="<%= l(:text_test_run_status_passed_count) %>"  ></span>
                    <span class="test-case-result failed"   title="<%= l(:text_test_run_status_failed_count) %>"  ></span>
                    <span class="test-case-result blocked"  title="<%= l(:text_test_run_status_blocked_count) %>" ></span>
                    <span class="test-case-result error"    title="<%= l(:text_test_run_status_error_count) %>"   ></span>
                    <span class="test-case-result waived"   title="<%= l(:text_test_run_status_waived_count) %>"  ></span>
                </span>
              </li>
            <% end %>
          </ol>
        </li>
      <% end %>
    </ol>
  <% end %>
</div>

<script>
</script>