<style>
  #plugin_settings_table {
    width: 100%;
  }

  #plugin_settings_table td:nth-child(2) {
    width: 80%;
  }

  #plugin_settings_table input {
    width: 100%;
  }

  #plugin_settings_table th {
    text-align: left;
  }

  #plugin_settings_table thead th {
    text-align: center;
  }
</style>

<table id="plugin_settings_table">
  <thead>
    <tr>
      <th colspan="2">Kiwi REST API</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>Kiwi URL</th>
      <td>
        <%= text_field_tag "settings_kiwi_url", @plugin.settings[:default]["kiwi_url"] %>
      </td>
    </tr>
    <tr>
      <th>API URL</th>
      <td>
        <%= text_field_tag "settings_rest_api_url", @plugin.settings[:default]["rest_api_url"] %>
      </td>
    </tr>
    <tr>
      <th><%= l(:field_login) %></th>
      <td>
        <%= text_field_tag "settings_rest_api_username", @plugin.settings[:default]["rest_api_username"] %>
      </td>
    </tr>
    <tr>
      <th><%= l(:field_password) %></th>
      <td>
        <%= password_field_tag "settings_rest_api_password", @plugin.settings[:default]["rest_api_password"] %>
      </td>
    </tr>
    <tr>
      <th><%= l(:text_check_kiwi_connection) %></th>
      <td>
        <script>
          function checkKiwiConnection() {
            $.get("/<%= $NAME_KIWI_TESTS %>/kiwi/check", function(cnn) {
              console.log(cnn);
              alert(cnn.message);
            });
          }
        </script>
        <%= button_tag l(:button_check_kiwi_connection), type: "button", name: "button_check_kiwi_connection", onclick: "checkKiwiConnection()" %>
      </td>
    </tr>
  </tbody>
</table>
